@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Merriweather&family=Sansita+Swashed&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Sansita Swashed", "IBM Plex Serif", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: white;
}

button {
  outline: none;
  cursor: pointer;
  background: #f43939;
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  height: 2.5rem;
  box-shadow: 0 0.3rem 0.3rem rgba(121, 121, 121, 0.65);
  margin-bottom: 1rem;
  width: 17%;
}

button:hover {
  filter: brightness(150%);
}

p {
  font-family: 'Open Sans',sans-serif;
}

.tc {
  text-align: center;
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form {
  width: 35vw;
  padding: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h1 {
  letter-spacing: 2px;
  font-size: 3rem;
}

.form label {
  display: block;
  font-size: 1rem;
  font-family: 'Open Sans',sans-serif;
  margin-bottom: 10px;
}

.form input,
.form select {
  width: 100%;
  height: 2.2rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
}

fieldset {
  border: none;
  margin-bottom: 2.5rem;
  width: 80%;
}